In [31]:
import rdflib

In [32]:
g = rdflib.Graph()
g.load("./newtotal.ttl",format="turtle")

In [33]:
# find all names
for row in g.query(
            'select ?x where { ?s a foaf:Student . ?s foaf:givenName ?x}'
            ):
        print(row.x)

Sandip
Vinay
prameela kavya
Athresh
Balamurugan
Ravi
Shreyash
Hemant
Dhruv
Diptam
amit
Dhawnit
Nurendra
Madhur
Kavya
Praveen
Sayantan
Sai
Manoj
Shruti
Litton
Snehal
Jahnavi
Neethu
Pritam
Abrar
Swarnadeep
Naveen
Damodar
Sunny
M
Saatwik
Sriharsh
Abhishek
Guruprasad
Sagar
VINAY
Anupam
Ganesh
aneel
Vatsal
shashank
Saurabh
ramamurthi
Anil Kumar
Abhinav
vivek
krishna
Adithya
Gandhi
Ramkrishna
Kanthi Rekha
Yash
satyam
Mohammad Ishan
Meghana
Divyani
Akshat
Ayush
Aditi
Indraneil
Sejal
Ramachandra Sharma
Akhil
Battu
Sneha
Anirudh
Anil Kumar
rajas
Gaurav
Nagaraj
Ayush
SIDDHARTHA
Shantanu
Poojitha
sireesha naidu
Rini
Saumitra
Mohsin
abdulla
Vinisha
vishnu vardhan
Ayush
Murali Krishna
Vivek
CHINMAY
Aakar
Vivek
Pulkit
Srikanth
Aaditya
Shalin
shivam
Rajat
Saniya
Sonam
Shraddhan
Rajesh
Pravallika
Amitha
Yash
riddhi
Satrajit
Jalpreet Singh
Prabhakar
Ankur
rachit
Arijit
Allen
Spurthi
Vamsee
Abhishek
AKSHAY
Vivek
vinayak
S S S Kumar
NIKITA
Sayan
Muzammil Ahmad
hemang
Yojana
Kishori
Siddharth
Kaveri
Ayushi
Utsav
Vishal
Raghuram
uttam
Nisarg
Aditya
Shubham
Palash
Pranav
Rohit
Shivani
Krishna Madhavi
vamshi krishna
Dinesh
Ran Vijay
Aishwarya
Shikha
Sachin
Ranjana
Akhila
Archit
Sowmith
Deeksha Singh
Manasa
Ashutosh
Rajat
Pooja
Sunil
Nishu
ASHWIN
Hillol
Viplav
kanishtha
Yash
Anandita
Sai Sahith
venkatamani
Jaipal Singh
Jayant Kumar
Rohit
Suryansh
Varun
Gorang
Dishant
Ayush
Sneh
Tanmay
Mohammed
mansi
Amulya
Mainak
Dhrumil
Nikhil
kishan
Chetan
Riya
Sahil
Anurag
Manipal
Saad
Anvesh
Sachin
Shailendra Kumar
lakshmi
Ameya
Shreya
vikas
Bhavana
Rupali
chaitanya sai
Asif
Anand
Manish
hemant
Goutam
Varun
Sharan
tannika
Palash
Madhuri
Pinkesh
Koushik
Sandeepan
Rohit
Shashank
Anveshi
Ashish
Shriyansh
Elizabeth
Harsha
Piyush
Ravikiran
Vini
Surbhi
Meenal
Rohan
Udbhav
Mehtab

In [34]:
# Tell me all Institutes
for row in g.query(
            'select ?x where { ?s foo:institute ?x . \
                }'):
        print(row.x)

IIIT Hyderabad
IIITH

In [35]:
#CONDITIONAL
# Find me all the courses

for row in g.query(
            'select ?x where { ?s a foaf:Course . \
            ?s foo:courseName ?x}'
            ):
        print(row.x)

Natural Language Applications
Operating Systems PG
Topics In Information Retrieval
Natural Language Processing

In [36]:
#CONDITIONAL
# Who is the faculty of Natural Language Applications

for row in g.query(
            'select ?x ?y where { ?c foo:courseName "Natural Language Applications". \
            ?c foo:faculty ?f . \
            ?f foaf:givenName ?x . \
            ?f foaf:familyName ?y .}'
            ):
        print(row.x + " " + row.y)

Manish Shrivastava

In [37]:

for row in g.query(
            'select ?x ?y where { ?s foo:courseName "Natural Language Applications". \
            ?s foo:faculty ?f . \
            ?f foaf:givenName ?x . \
            ?f foaf:familyName ?y .}'
            ):
        print(row.x + " " + row.y)

Manish Shrivastava

In [38]:
#CONDITIONAL
# Marks of topics in IR

for row in g.query(
            'select ?x where { ?s foo:courseName "Topics In Information Retrieval" . \
            ?k a foaf:Registration . \
            ?k foo:courseid ?s . \
            ?k foo:marks ?x .}'
               ):
        print(row.x)

84
66
77
85
63
67
62
93
76
84
69
68
81
62
61
75
92
88
68
84
80
76
64
91
87
69
61
71
67
76
62

In [39]:
#CONDITIONAL
# Marks of Sriharsh in topics in IR

for row in g.query(
            'select ?x where { ?s foo:courseName "Topics In Information Retrieval" . \
            ?k a foaf:Registration . \
            ?k foo:courseid ?s . \
            ?n a foaf:Student . \
            ?n foaf:givenName "Sriharsh" . \
            ?k foo:studentid ?n . \
            ?k foo:marks ?x .}'
               ):
        print(row.x)

87

In [40]:
#CONDITIONAL
# Marks of Anvesh in topics in IR

for row in g.query(
            'select ?x where {  \
            ?s foo:courseName "Topics In Information Retrieval" . \
            ?n foaf:givenName "Sriharsh" . \
            ?k a foaf:Registration . \
            ?k foo:courseid ?s . \
            ?k foo:studentid ?n . \
            ?k foo:marks ?x . \
                            }'
               ):
        print(row.x)

87

In [41]:
#COURSES OF Anirudh
for row in g.query(
            'select ?x where {  \
            ?s a foaf:Course . \
            ?n foaf:givenName "Anirudh" . \
            ?k a foaf:Registration . \
            ?k foo:courseid ?s . \
            ?k foo:studentid ?n . \
            ?s foo:courseName ?x . \
                            }'
               ):
        print(row.x)

Natural Language Processing
Topics In Information Retrieval
Natural Language Applications

In [42]:
for row in g.query(
        'select ?x where { ?a foaf:givenName "Sriharsh" . ?b foo:courseName "Topics In Information Retrieval" . ?c a foaf:Registration . ?c foo:courseid ?b . ?c foo:studentid ?a . ?c foo:marks ?x .  }'
                ):
    print(row.x)

87

In [11]:
     # All Marks of Aniruddh

for row in g.query(
            'select ?x ?y where { ?s a foaf:Student . \
            ?s foaf:givenName "Anirudh" . \
            ?k a foaf:Registration . \
            ?k foo:studentid ?s . \
            ?k foo:marks ?x . \
            ?k foo:courseid ?z . \
            ?z foo:courseName ?y .}'
               ):
        print("Marks of Anirudh in " + row.y + " is " + row.x)

Marks of Anirudh in Topics In Information Retrieval is 62.5
Marks of Anirudh in Natural Language Applications is 60.8

In [68]:
#CONDITIONAL
# Find me all the Faculties

for row in g.query(
            'select ?x ?y where { ?s a foaf:Faculty . \
            ?s foaf:givenName ?x  .\
            ?s foaf:familyName ?y }'
            ):
        print(row.x + " " + row.y)

Manish Shrivastava

In [14]:
#CONDITIONAL
# Find me all the persons with surname Singh 

for row in g.query(
            'select ?x where { ?s foaf:familyName "Singh" . \
            ?s foaf:givenName ?x}'):
        print(row.x)

Saurabh
Ran Vijay
Vinay
Shreya
Abhishek
Manipal
Rajat

In [13]:
##################### FROM HERE ALL QUERIES ARE FROM A DIFFERENT DATASET, ##########
################### USE IT FOR REFERNCE OR TO EXPERIMENT MORE FOR OUR DATA ##############

In [15]:
#CONDITIONAL
# Find me all the persons who have a death age
"""
for row in g.query(
            'select ?x ?d  where { ?s mydb:deathAge ?d . \
            ?s rdfs:label ?x}'):
        print(row.x + " died at "+row.d)
    """

'\nfor row in g.query(\n            \'select ?x ?d  where { ?s mydb:deathAge ?d .             ?s rdfs:label ?x}\'):\n        print(row.x + " died at "+row.d)\n    '

In [31]:
# NEGATION:
# Find me all the persons except those whose familyName is Mogroby 
"""
for row in g.query(
            'select ?x where { ?s a foaf:Person . \
            ?s rdfs:label ?x . MINUS {?s foaf:familyName "Mogroby" .} }'
            ):
        print(row.x)

Mirzan Marie
Libera Rachel
Hector
Hector
Ralph Harvey
Mary Rose
Virginia
Ugo
Morpurgo D. Brutus
Oscar
Réné
Anna Henderson
Clarisa Hélène
Julia
McFarlane Kenedy Wiley
Angelino M.
Rev'd Dr. S C Ewing
Edgar
Victor John
Mary Evelyn
Edwige
Rodolph

In [44]:
# NEGATION:
# Find me all the persons except those who have a note 'x' 

for row in g.query(
            'select ?x where { ?s a foaf:Person . \
            ?s rdfs:label ?x . MINUS {?s mydb:note "x" .} }'
            ):
        print(row.x)

Toba Mogroby
Libera Rachel
Hector
Hector
Ralph Harvey
Mary Rose
Virginia
Ugo
Oscar
Réné
Anna Henderson
Clarisa Hélène
Moses Mogroby
Julia
McFarlane Kenedy Wiley
Angelino M.
Rev'd Dr. S C Ewing
Edgar
Victor John
Mary Evelyn
Mogroby Jacob M
Edwige
Rodolph

In [9]:
# NEGATION:
# Find me persons(labels) who have any note except "x" (not all people have notes, hence list is smaller)

for row in g.query(
            'select ?x where { ?s mydb:note ?k .  \
            ?s rdfs:label ?x .\
            MINUS {?s mydb:note "x" .} }'
            ):
        print(row.x)
        
# Did any name repeat? Why? (Think!)

McFarlane Kenedy Wiley
Mary Evelyn
McFarlane Kenedy Wiley
Victor John

In [7]:
# NEGATION:
# Find me all people who any note except 'x' AND whose name is not "Mary Evelyn"

for row in g.query(
            'select ?x where { ?s mydb:note ?k .  \
            ?s rdfs:label ?x .\
            MINUS {?s mydb:note "x" .} . \
            MINUS {?s rdfs:label "Mary Evelyn" .} }'
            ):
        print(row.x)

McFarlane Kenedy Wiley
McFarlane Kenedy Wiley
Victor John

In [58]:
#CONDITIONAL AND NEGATION
# Find me all people who have familyName "Mogroby" except the one whose occupation is "Ombrella Merchant"

for row in g.query(
            'select ?x where { ?s foaf:familyName "Mogroby" . \
            ?s rdfs:label ?x . \
            MINUS {?s mydb:occupation "Ombrella Merchant" .} }'): #notice that this line can't come (one line) earlier because minus subtracts from ?x (the select variable) hence can't delete before declaring
        print(row.x)

Moses Mogroby
Toba Mogroby

In [55]:
#Find me all persons (labels) who have notes

for row in g.query(
            'select ?x where { ?s a foaf:Person . \
            ?s mydb:note ?z . ?s rdfs:label ?x }'):
    print(row.x)

SyntaxError: EOL while scanning string literal (<ipython-input-55-f8bf3dacfe1a>, line 4)

In [56]:
#Find me all persons (labels) who have notes
"""
for row in g.query(
            'select ?x where { ?s rdfs:label ?x . \
            { ?s mydb:note ?z }}'):
    print(row.x)

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-56-92d7fa10d9d7>, line 6)

In [ ]:
#Why are the earlier 2 results different (in order especially)? (I actually don't know)

In [8]:
#Find all daughter relations
for row in g.query(
            'select ?x ?y where { ?s a foaf:Person . \
            ?s mydb:daughterOf ?p .\
            ?s rdfs:label ?x . \
            ?p rdfs:label ?y }'
            ):
        print("----")
        print(row.x+" is the Daughter of "+row.y)
        
        print("---")

----
Mary Rose is the Daughter of Mirzan Marie
---
----
Virginia is the Daughter of Morpurgo D. Brutus
---
----
Réné is the Daughter of Morpurgo D. Brutus
---
----
Edwige is the Daughter of Mirzan Marie
---
----
Mary Evelyn is the Daughter of McFarlane Kenedy Wiley
---

In [65]:
#Find all sons of "Morpurgo D. Brutus" (label)

for row in g.query(
            'select ?x where { ?p rdfs:label "Morpurgo D. Brutus" . \
            ?s mydb:sonOf ?p . \
            ?s rdfs:label ?x . \
            }'
            ):
        print("Sons are " + row.x)

Rodolph
Ugo
Hector
Hector
Angelino M.
Oscar
Edgar

In [67]:
#Find all Wives and their Husbands

for row in g.query(
        'select ?w ?h where { ?s mydb:wifeOf ?t . \
        ?s rdfs:label ?w . \
        ?t rdfs:label ?h . \
        }'
        ):
    print(row.w + "'s husband is " + row.h)

Anna Henderson's husband is McFarlane Kenedy Wiley
Clarisa Hélène's husband is Morpurgo D. Brutus
Toba Mogroby's husband is Mogroby Jacob M

In [70]:
# Who is the sister of Virginia (Does Virginia have a sister? Even though she Does not have a sisterOf relation?)
for row in g.query(
            'select ?x where { ?p a foaf:Person . \
            ?s rdfs:label "Virginia" ; mydb:daughterOf ?p .\
            ?k mydb:daughterOf ?p ; rdfs:label ?x .\
            MINUS {?k rdfs:label "Virginia" . }\
            }'
            ):
        print("----")
        print("virginia is the Sister of "+row.x)
        # We go to Virginia's father, then look for his daughters and then delete Virginia herself from that list
        print("---")

----
virginia is the Sister of Réné
---

In [72]:
#Think of more cool examples, try for the following:

In [71]:
#Find all sons who are still alive.
#Who is the daughter of "Mirzan Marie" whose occupation is "ex US Consular Agent".